@use 'app/styles/mixins.scss' as *;

.container {
  list-style: none;
  width: 100%;
  align-self: flex-start;
}

.not_found {
  text-align: center;
  @include font(700, var(--font-family--genos));
  font-size: 2rem;
}
