@use 'src/app/styles/mixins.scss' as *;

.button {
  margin: 30px auto 5px;
  width: 180px;
  padding: 3px;
  font-size: 1.4rem;
  color: var(--color--white);
  height: 44px;
  background-color: var(--color--light-blue);
  border-radius: 3px;
  @include font(500, var(--font-family--genos));
  &:hover {
    background-color: var(--color--light-blue--hover);
    text-decoration: none;
  }
  &:active {
    background-color: var(--color--light-blue--active);
  }
}
