.root {
  width: 100%;
  min-height: 100vh;
  background: url('/assets/images/star-trek-background.jpg') no-repeat center center fixed;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}

.main {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.dark {
  background: url('/assets/images/star-trek-background-dark.jpg') no-repeat center center fixed;
}
